//GLOBAL STYLES
.main-title {
  font-size: $font-size-vlarge;
  font-weight: $font-weight-heavy;
}

.secondary-title {
  font-size: $font-size-large;
  font-weight: $font-weight-heavy;
}

.primary-button {
  color: white;
  background-color: $button-color-2;
  border: none;
  height: 35px;
  border-radius: 5px;
  align-self: flex-end;
  font-size: $font-size-vsmall;
}

.secondary-button {
  color: white;
  background-color: $button-color-1;
  border: none;
  height: 35px;
  border-radius: 5px;
  align-self: flex-end;
  font-size: $font-size-vsmall;
}

.primary-input {
  border: 2px solid $border-color;
  outline: none;
  border-radius: 5px;
  width: 180px;
  height: 35px;
  padding: 2px;
  @include placeholder {
    color: $border-color;
    font-size: 14px;
    padding-left: 10px;
  }
}

//LOGIN
.login-component {
  margin: 100px auto 50px auto;
  width: 500px;

  .txt-register {
    margin-top: 10px;
  }
}

//REGISTER
.register-component {
  margin: 100px auto 50px auto;
  width: 500px;

  .txt-login {
    margin-top: 10px;
  }
}

//HOME
.home-component {
  text-align: center;
  margin: 50px 0 50px 0;

  .home-image {
    height: 60vh;
  }

  .home-icon {
    color: $font-color;
    transform: scale(2);
  }

  .home-text {
    margin: 7%;
  }

  .home-image-small {
    height: 30vh;
  }

  .home-recipe-button {
    color: $button-color-2;
    background-color: white;
    border: 2px solid $button-color-2;
    font-weight: $font-weight-heavy;
  }
}

//ABOUT
.about-component {
  section {
    padding: 40px 15%;
    .section-title {
      text-align: center;
      margin-bottom: 30px;
    }
    .section-image img {
      width: 100%;
    }

    .meal-planner-imgtext {
      margin: 0 auto 0 auto;
      text-align: center;
      max-width: 200px;
      .meal-planner-img {
        margin: 0 20px 0 20px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

//PROFILE_HEADER
.profile-header {
  padding-top: 3%;

  .profile-search {
    .search-icon {
      color: grey;
      height: 40px;
      width: 40px;
      margin-left: 5px;
    }
  }
}

//PROFILE_OPTIONS
.profile-options {
  .options-title {
    font-size: 24px;
    color: $font-color;
    font-weight: $font-weight-heavy;
  }

  .options-table {
    height: auto;
    width: 30vw;
    background-color: #dfe6ed;
    display: flex;
    flex-direction: column;
    padding-top: 4%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 20%;

    .options-save-button {
      color: white;
      background-color: $button-color;
      border: none;
      padding: 10px;
      border-radius: 5px;
      margin-top: 4%;
    }
  }
}

//USER_PROFILE_OPTIONS
.user-profile-options {
  padding-top: 3%;

  .options-board {
    margin-top: 40px;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70vw;
    background-color: ghostwhite;
    border: 2px solid lavender;
    margin-bottom: 20%;

    .ob-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;

      .avatar {
        height: 100px;
        width: 100px;
      }
    }

    .ob-form {
      .ob-row {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;

        img {
          height: 30px;
          width: 30px;
          cursor: pointer;
        }

        input {
          width: 30vw;
          height: 30px;
          border: 2px solid lavender;
          outline: none;
        }
      }
    }
  }
}

//FEEDBACK
.feedback {
  .feedback-form {
    width: 60vw;
    height: 100vh;
    background-color: #dfe6ed;
    margin-top: 3%;
    margin-bottom: 10%;
    padding-top: 3%;
    padding-left: 5%;

    .feedback-emailbutton {
      margin-left: 15%;
      width: 20vw;
      color: $font-color;
      font-size: $font-size-small;
      border: 2px solid $border-color;
      background-color: white;
    }

    .feedback-textarea {
      width: 50vw;
      height: 30vw;
      border: 2px solid $border-color;
      outline: none;
      color: $font-color;
      font-size: 15px;
    }
  }
}

//SEARCH
.search-link {
  color: $font-color;
  font-weight: $font-weight-heavy;
}

.search-name {
  text-align: center;
  font-size: $font-size-large;
  color: red;
  font-weight: $font-weight-heavy;
  padding: 10%;
  margin-bottom: 10%;
}

.search-featured {
  .featured-image {
    height: 30vh;
    margin-top: 3%;
  }
}

.search-category {
  img {
    height: 10vh;
  }
}

.search-meal {
  img {
    height: 20vh;
  }
}

//PROFILE
.user-profile {
  .up-preference {
    height: auto;
    background-color: #dfe6ed;
    display: flex;
    flex-direction: column;
    padding: 3%;

    margin-top: 2%;
    margin-bottom: 20%;
    margin-left: 3%;
    border: 2px solid $border-color;

    .add {
      width: 75px;
    }
  }
}

//PLANNER_INSTRUCTIONS
.meal-planner-instructions {
  .mp-recipe-title {
    padding-top: 10%;
    font-size: 12px;
    color: grey;
    font-weight: 900;
  }

  .mp-recipe-text {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 12px;
    color: grey;
  }

  .mp-image {
    height: 20vh;
    margin-top: 2%;
  }
}

//CUSTOM_RECIPE
.find {
  .mp-image {
    height: 20vh;
    margin-top: 2%;
  }
}

.box {
  .box-img {
    height: 10vh;
  }
}

.plus {
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 40%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      color: black;
      padding: 4px 16px;
      text-decoration: none;
      display: block;
      border: 2px solid $border-color;

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  .dropdown:hover > .dropdown-content {
    display: block;
  }

  .dropdown:hover > .dropbtn {
    background-color: #3e8e41;
  }
}

//ADD_RECIPE
.custom-recipe {
  label {
    font-size: 14px;
    font-weight: $font-weight-heavy;
  }

  .cr-textarea {
    width: 25vw;
    height: 10vw;
    border: 2px solid $border-color;
    outline: none;
    color: $font-color;
    font-size: 15px;
  }

  .cr-textarea2 {
    width: 50vw;
    height: 10vw;
    border: 2px solid $border-color;
    outline: none;
    color: $font-color;
    font-size: 15px;
  }

  select {
    width: 30vw;
    background: transparent;
  }

  .instructions {
    color: #73cdc4;
    font-size: 18px;
    font-weight: $font-weight-heavy;
    margin-top: 5%;
    text-align: center;
  }
}

.micro-nutrition {
  color: #318ada;
  font-size: 14px;
}

//Counter Component

.counter {
  input {
    width: 50px;
    border-radius: 0;
  }

  .button-container {
    height: 35px;
    width: 20px;
    background-color: #4b5c6b;
  }

  .counter-icon {
    color: white;
    cursor: pointer;
    width: 15px;
    height: 15px;
  }
}
