.login-component {
  margin: 100px auto 50px auto;
  width: 500px;

  .txt-register {
    margin-top: 10px;
  }
}

.register-component {
  margin: 100px auto 50px auto;
  width: 500px;

  .txt-login {
    margin-top: 10px;
  }
}

.home-component {
  text-align: center;
  margin: 50px 0 400px 0;
}

.about-component {
  section {
    padding: 40px 15%;
    .section-title {
      text-align: center;
      margin-bottom: 30px;
    }
    .section-image img {
      width: 100%;
    }

    .meal-planner-imgtext {
      margin: 0 auto 0 auto;
      text-align: center;
      max-width: 200px;
      .meal-planner-img {
        margin: 0 20px 0 20px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

.profile-header {
  padding-top: 3%;
  p {
    font-size: 30px;
    color: $font-color;
    font-weight: $font-weight-heavy;
  }

  .profile-search {
    input {
      border: 2px solid $border-color;
      outline: none;
      border-radius: 5px;
      padding: 5px;
      width: 180px;
      @include placeholder {
        color: $border-color;
        font-size: 14px;
        padding-left: 10px;
      }
    }

    .search-icon {
      color: grey;
      height: 40px;
      width: 40px;
      margin-left: 5px;
    }
  }
}

.profile-options {
  .options-title {
    font-size: 24px;
    color: $font-color;
    font-weight: $font-weight-heavy;
  }

  .options-table {
    height: auto;
    width: 40vw;
    background-color: #dfe6ed;
    display: flex;
    flex-direction: column;
    padding-top: 4%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 20%;

    .options-save-button {
      color: white;
      background-color: $button-color;
      border: none;
      padding: 10px;
      border-radius: 5px;
    }
  }
}
