@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 64em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}

.header-content {
  text-align: right;

  .social-icons {
    margin-bottom: 15px;
  }

  .nav-links {
    margin-bottom: 30px;
    a {
      color: $font-color;
      font-weight: $font-weight-heavy;
    }
  }

  .header-search {
    max-width: 300px;
    margin-left: auto;
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;

  .quick-links ul {
    list-style: none;
    padding-left: 0;

    li a {
      color: $font-color;
      font-weight: $font-weight-heavy;
    }
  }
}

.social-icons {
  a {
    margin-right: 10px;
    img {
      max-width: 50px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.separator {
  margin: 15px;
  border-bottom: 2px solid $border-color;
}

.signout {
  color: $font-color;
  font-weight: $font-weight-heavy;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

