$font-color: #2c3844;
$border-color: #a3adb9;
$button-color: #2b88d9;

$font-size-vlarge: 36px;
$font-size-large: 24px;
$font-size-small: 16px;
$font-size-vsmall: 14px;

$button-input-height: 35px;

$button-color-1: #2b88d9;
$button-color-2: #6558f5;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-heavy: 500;

$color-primary: #6060ec;

$theme-colors: (
  'primary': $color-primary,
);
